[submodule "update-site"]
	path = update-site
	url = https://github.com/rlogiacco/Natural.git
	branch = gh-pages
[submodule "wiki"]
	path = wiki
	url = https://github.com/rlogiacco/Natural.git
	branch = wiki
[submodule "runtime-workspace/serenity-cucumber-bdd-screenplay"]
	path = runtime-workspace/serenity-cucumber-bdd-screenplay
	url = https://github.com/drkstr101/serenity-cucumber-bdd-screenplay.git
