<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.agileware.org/natural/cucumber" 
       class = "org.agileware.natural.cucumber.cucumber.CucumberPackage"
       genModel = "org/agileware/natural/cucumber/Cucumber.genmodel" /> 
	
  </extension>





</plugin>
