<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.rlogiacco.org/eclipse/jbehave/JBehaveDSL" 
       class = "org.rlogiacco.eclipse.jbehave.jBehaveDSL.JBehaveDSLPackage"
       genModel = "org/rlogiacco/eclipse/jbehave/JBehaveDSL.genmodel" /> 
	
  </extension>





</plugin>
